<div>
  <form method="post" action="/bin/createTicket">
      <input id="resourcePath" type="hidden" name="resourcePath" value="${currentPage.getPath}" />
      <label>Ticket Name*</label>
      <input id="ticketName" type="text" name="ticketName" maxlength="255" required/>
      <label>Short Description</label>
      <input id="shortDescription" type="text" name="shortDescription">
      <label>Type*</label>
      <select id="type" type="text" name="type" required>
          <option value="Task">Task</option>
          <option value="Subtask">Subtask</option>
          <option value="Bug">Bug</option>
      </select>
      <label>* - required fields</label>
      <input type="submit" value="Submit" />
  </form>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.all @ categories='create-ticket-form.main'}" />
</sly>