<sly data-sly-test.scheme="${request.scheme}"/>
<sly data-sly-test.servername="${request.serverName}"/>
<sly data-sly-test.serverport="${request.serverPort}"/>

<div data-sly-use.model="app.management.project.models.UserInfoModel"></div>

<div class="user-menu-container">
    <div data-sly-test.isRegistered="${model.username}">
        <p>User: ${model.username} | ${model.role}</p>
        <a href="${scheme}://${servername}:${serverport}/bin/logout">Log Out</a>
    </div>
    <div data-sly-test="${!isRegistered}">
        <a href="${scheme}://${servername}:${serverport}/content/project_management_app/home/registration.html">Sign Up</a>
        <a href="${scheme}://${servername}:${serverport}/content/project_management_app/home/login.html">Sign In</a>
    </div>
</div>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='user-menu.main'}" />
</sly>
