<sly data-sly-test.scheme="${request.scheme}"/>
<sly data-sly-test.servername="${request.serverName}"/>
<sly data-sly-test.serverport="${request.serverPort}"/>

<customForm>
    <div class="login-page">
        <div class="form">
            <p>Sign In</p>
            <form class="login-form" method="post" action="/bin/signin">
                <input name="username" type="text" placeholder="username" minlength="3" maxlength="15" required/>
                <input name="password" type="password" placeholder="password" minlength="3" maxlength="18" required/>
                <button>Login</button>
                <p class="message">
                    Not registered?
                    <a href="${scheme}://${servername}:${serverport}/content/project_management_app/home/registration.html">
                        Create an account
                    </a>
                </p>
            </form>
        </div>
    </div>
</customForm>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='login-form.main'}" />
</sly>